header.header-bar-with-burger {
	background-color: rgb(0,188,212) !important;
}

div#page-header {
	padding: 20px 0;
}

div#view-outer {
	padding: 0 40px;
}

#advertisement-searcher {
	position: absolute;
	right: 30px;
	text-align: right;
}

form#add-item,
div#add-image-file {
    display: inline-block;
    background-color: aliceblue;
}

div#add-image-file {
	width: 90%;
	left: 5%;
}

.add-item-row {
	font-size: 16px;
}

.add-item-row span {
	margin: 3px;
	display: inline-block;
}

.displayed-value {
	background-color: white;
	padding: 5px;
	border-radius: 10px
}

.uploaded-file {
	padding: 5px 0;
}

span.uploader-panel {
	display: inline-block;
	width: 50%;
	float: left;
}

.uploader-panel-content {
	padding: 25px;
}

#promo-image-display-table td {
	padding: 10px;
}

#add-item-container-id {
	padding: 20px;
	margin: 20px 0;
	background-color: lightgray;
}

.clickable {
	cursor: pointer;
}

.warning {
	color: red;
}

.well.my-drop-zone {
}

.add-item-container {
	padding-bottom: 20px;;
}

.add-item-container table {
	margin-bottom: 0;
}

#update-selected-slot {
	background-color: chartreuse;
	width: 100px;
	padding: 20px 20px;
	border: 3px black solid;
	border-radius: 15px;
	font-size: 32px;
	text-align: center;
}

.page-main-title {
	font-size: 32px;
	border-bottom: 2px solid black;
}

.well.my-drop-zone {
	padding: 10px;
	color: #1122FF;
}